<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ContentBased Product Recommendation</title>
</head>
<body>
    <form method="post" action="http://127.0.0.1:5000/recommendProducts" enctype = "multipart/form-data">
        <input type = "file" id = "file" name = "file" /><br><br>
        <h2>Enter Product Id:</h2><input type = "text" id = "productId" name = "productId"/><br><br>
        <input id="submit" type="submit" name="submit" value="Submit" />
    </form>
</body>
</html>