{% extends 'base.html' %}
{% block content %}

  {% if t=='s' %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h3 style="color:rgb(0, 102, 255)">Sorry! This user id is not in our database.</h3>
    <h3 style="color:rgb(0, 102, 255)">Try with another User Id.</h3>
  </div>

  {% else %}
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h1 style="color:rgb(0, 102, 255)">User "{{item}}" Recommendations</h1>
  </div>

    <ul class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item" style="color:rgb(0, 179, 0)"><strong>{{m}}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}